@import "tailwindcss" source(none);
@source "../index.html";
@source "./";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111827; /* gray-900 */
}

.maplibregl-ctrl-group button.maplibregl-ctrl-camera {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

